In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import h3pandas

In [2]:
pwd=os.getcwd()

In [8]:
dataset= pd.read_csv(pwd + "\\anytimepop_expport_wk_income_age_gender_202204_manhattan_extract.csv")
dataset

,geography_segment,geography,month,day_part_system,day_part,day_type,occupancy,segment_system,segment_category,segment,segment_description,occupancy_segment,occupancy_segment_local_radius
0,h3,892a10085a7ffff,202204,hourly,0,wk,0.1,basic_demographics,age,age_00t17,"Population, Age 0 - 17",0.0,0.0
1,h3,892a10085a7ffff,202204,hourly,6,wk,0.4,basic_demographics,age,age_00t17,"Population, Age 0 - 17",0.1,0.1
2,h3,892a10085a7ffff,202204,hourly,7,wk,0.3,basic_demographics,age,age_00t17,"Population, Age 0 - 17",0.1,0.1
3,h3,892a10085a7ffff,202204,hourly,8,wk,0.4,basic_demographics,age,age_00t17,"Population, Age 0 - 17",0.1,0.1
4,h3,892a10085a7ffff,202204,hourly,9,wk,0.3,basic_demographics,age,age_00t17,"Population, Age 0 - 17",0.1,0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
276349,h3,892a1072eb7ffff,202204,hourly,19,wk,24.7,basic_demographics,hh_income,hhi_200plus,"Households, Household Income $200,000+",8.4,8.4
276350,h3,892a1072eb7ffff,202204,hourly,20,wk,20.5,basic_demographics,hh_income,hhi_200plus,"Households, Household Income $200,000+",6.1,6.1
276351,h3,892a1072eb7ffff,202204,hourly,21,wk,16.0,basic_demographics,hh_income,hhi_200plus,"Households, Household Income $200,000+",5.7,5.7
276352,h3,892a1072eb7ffff,202204,hourly,22,wk,6.8,basic_demographics,hh_income,hhi_200plus,"Households, Household Income $200,000+",1.8,1.7
276353,h3,892a1072eb7ffff,202204,hourly,23,wk,1.5,basic_demographics,hh_income,hhi_200plus,"Households, Household Income $200,000+",0.6,0.6

In [13]:
dataset
colums_drop =['geography_segment', 'month', 'day_part_system','day_type','segment_system']
dataset = dataset.drop(columns=colums_drop)
dataset

KeyError: "['geography_segment', 'month', 'day_part_system', 'day_type', 'segment_system'] not found in axis"

In [21]:
dataset
dataset.columns = ['h3_10']
dataset

                  h3_10
0       892a10085a7ffff
1       892a10085a7ffff
2       892a10085a7ffff
3       892a10085a7ffff
4       892a10085a7ffff
...                 ...
276349  892a1072eb7ffff
276350  892a1072eb7ffff
276351  892a1072eb7ffff
276352  892a1072eb7ffff
276353  892a1072eb7ffff

[276354 rows x 1 columns]

In [24]:
dataset.h3_to_geo_boundary()

AttributeError: 'DataFrame' object has no attribute 'h3_to_geo_boundary'

In [16]:
df = pd.DataFrame({'lat': [50, 51], 'lng': [14, 15]})
resolution = 10
df = df.h3.geo_to_h3(resolution)
a

                 lat  lng
h3_10
8a1e30973807fff   50   14
8a1e2659c2c7fff   51   15

In [17]:
df = df.h3.h3_to_geo_boundary()
df

                 lat  lng                                           geometry
h3_10
8a1e30973807fff   50   14  POLYGON ((13.99964 50.00100, 13.99933 50.00037...
8a1e2659c2c7fff   51   15  POLYGON ((14.99903 51.00057, 14.99871 50.99995...